# Compiled output
dist/
tmp/
out-tsc/
bazel-out/

# Node 
node_modules/
npm-debug.log
yarn-error.log

# Environment variables
.env
.env.*

# IDE
.idea/
.vscode/
*.swp

# System files
.DS_Store

# Compiled output from tests
coverage/