

.volunteerGeneralInfo {
    display: flex;
    justify-content: center; /* ממרכז את התוכן רוחבית */
    align-items: flex-start;
    margin-top: 15%;
    margin-bottom: 1px;
   
   
}

.info-container {
    display: flex;
    margin-bottom: -20px;
   
}

.general-info {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 800px;
    color: #949d98;
    text-shadow: 2px 2px 2px rgba(63, 64, 63, 0.2);
    margin-top: 0;
    padding-right: 2px; /* מוסיף רווח לצד ימין של הכותרת */

}

.info-text {
    border-right: 2px solid #ccc; /* קו מפריד אנכי */
    padding-right: 0px;
    margin-right: 60px;
  
}

.general-steps {
    font-size: 19px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    color: rgb(125, 129, 125);
    margin-right: 50px;
    

}

.volunteer-link{
    font-size: 19px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(125, 129, 125);
}

.volunteer-link:hover{
    color: rgb(145, 170, 155);
    
    
}

.link-button {
    margin-right: 60px; /* להזיז את הכפתור מעט שמאלה */
    background-color: transparent;
    border: 1px solid rgb(191, 194, 191);
    padding: 10px 40px;
    border-radius: 10px;
    transition: border-color 0.3s ease, transform 0.3s ease; /* מעבר חלק לשינוי צבע המסגרת */
    cursor: pointer;
}

.link-button:hover {
    border-color: rgb(163, 179, 170); /* צבע המסגרת משתנה בהנחת הסמן */
    transform: translateX(-2px); /* להזיז את הכפתור מעט שמאלה כאשר הסמן עליו */
}



@media screen and (min-width: 1920px){
    .general-info{
        font-size: 3.5rem;
    }

    .general-steps{
        font-size: 1.4rem !important;
    }

    .volunteer-link{
        font-size: 1.4rem;
    }
}



@media screen and (min-width: 1124px) and (max-width: 1365px){

    .general-info{
        font-size: 2.3rem;
    }

    .general-steps{
        font-size: 1.1rem !important;
    }

    .volunteer-link{
        font-size: 1.2rem;
    }

}


@media screen and (min-width: 768px) and (max-width: 1123px){

    .info-container{
        max-width: 700px;
    }

    .general-info{
        font-size: 2rem;
    }

    .general-steps{
        font-size: 1rem !important;
    }

    .volunteer-link{
        font-size: 1.1rem;
    }

}


@media screen and (min-width: 481px) and (max-width: 767px){

    .info-container{
        max-width: 450px;
    }

    .general-info{
        text-align: center;
        font-size: 1.6rem;
        margin-left: -40px;
        margin-right: 20px;
    }

    .general-steps{
        font-size: 0.85rem !important;
        margin-right: 10px;
        margin-left: 20px;
    }

    .link-button{
        margin-right: 20px;
        max-width: 200px;
        padding: 10px 10px;
        border-radius: 30px;
    }

    .volunteer-link{
        font-size: 0.9rem;
        max-width: 150px;
        
        
        
    }

}




@media screen and (min-width: 414px) and (max-width: 480px){

    .info-container{
        max-width: 400px;
    }

    .general-info{
        text-align: center;
        font-size: 1.5rem;
        margin-left: -50px;
        margin-right: 20px;
        
    }

    .general-steps{
        font-size: 0.8rem !important;
        margin-right: 5px;
        margin-left: 35px;
    }

    .link-button{
        margin-right: 20px;
        max-width: 200px;
        padding: 8px 8px;
        border-radius: 30px;
    }

    .volunteer-link{
        font-size: 0.8rem;
        max-width: 150px;
        
        
        
    }

}



@media screen and (min-width: 375px) and (max-width: 413px){

    .volunteerGeneralInfo {
        flex-direction: column;
        align-items: center;
        margin-top: 4rem;
    }

    .info-container {
        flex-direction: column;
        align-items: center;
        width: 600px;
        margin-bottom: 0;
    }

    .general-info {
        font-size: 1.6rem;
        text-align: center;
        width: 100%;
        margin-bottom: 1rem;
        padding-right: 0;
    }

    .info-text {
        border-right: none;
        border-top: 0.5px solid #ccc;
        padding-right: 0;
        margin-right: 0;
        padding-top: 1rem;
        width: 30%;
    }

    .general-steps {
        font-size: 0.9rem;
        margin-right: -30px;
        padding-right: 1rem;
        padding-left: 1rem;
        width: 220px;
    
        
    }

    .link-button {
        margin-right: -30px;
        width: 250px !important;
        padding: 10px 12px 10px 7px !important;
        margin-top:  1rem;
    
    }

    .volunteer-link {
        font-size: 0.95rem;
        text-align: center;
        display: block;
        width: 220px;
    }

}

@media screen and (min-width: 320px) and (max-width: 374px) {
    .volunteerGeneralInfo {
        flex-direction: column;
        align-items: center;
        margin-top: 4rem;
    }

    .info-container {
        flex-direction: column;
        align-items: center;
        width: 500px;
        margin-bottom: 0;
    }

    .general-info {
        font-size: 1.3rem;
        text-align: center;
        width: 100%;
        margin-bottom: 1rem;
        padding-right: 0;
    }

    .info-text { 
        border-right: none;
        border-top: 0.5px solid #ccc;
        padding-right: 0;
        margin-right: 0;
        padding-top: 1rem;
        width: 40%;
    }

    .general-steps {
        font-size: 0.83rem;
        margin-right: 0;
        padding-right: 1rem;
        width: 97%;
    }

    .link-button {
        margin-right: -15px !important;
        width: 210px !important;
        padding: 8px 10px 8px 8px;
        margin-top:  0.5rem;
    
    }

    .volunteer-link {
        font-size: 0.8rem;
        text-align: center;
        display: block;
        width: 190px;
       
    }
}